@mixin float {
    float: right;
    margin-right: 20rem;
    margin-top: -15rem;
}
@mixin link {
    color: black;
    font: {
        weight: bold;
        size: 10px;
        family: Arial;
    }
    text-decoration: none;
    position: relative;
    left: 30%;
    margin-right: 15px;
}
@mixin position {
    position: relative;
    left: 10%;
}
body {
    background: white;
}
.main {
    border: 40px solid rgb(252, 209, 16);
    height: 50rem;

}
nav {
    background-color: rgb(207, 204, 204);
    padding: 10px 15px 10px 15px;
    .food{
        background-color: white;
        width: 30px;
        height: 25px;
        color: black;
        font-size: 10px;
        font-weight: bold;
        display: inline-block;
        margin-right: 30px;
        margin-left: 15px;
        padding-left: 2.5px;
    }
    a {
        @include link;
    }
    .blog {
        color: rgb(252, 209, 16);
        border-bottom: 2px solid black;
        padding-bottom: 10px;
    }
    p {
        float: right;
        font: {
            size: 10px;
            weight: bold;
            family: arial;
        }
        word-spacing: 15px;
        margin-right: 60px;
        margin-left: 0px;
    }
    .arrow {
        background-color:rgb(252, 209, 16);
        width: 15px;
        border-radius: 50px;
        text-align: center;
        position: relative;
        left: 13%;
    }
}
h1 {
    width: 25rem;
    position: relative;
    left: 10%;
    margin-top: 5rem;
    font: {
        size: 35px;
        weight: bold;
        family: Arial;
    }
}
.ede {
    width: 20rem;
    position: relative;
    left: 10%;
    font-size: 10px;
    margin-top: -10px;
}
button {
    color: Black;
    background-color:rgb(252, 209, 16);
    text-align: center;
    border: none;
    padding: 4px 5px 4px 5px;
    @include position;
    width: 5rem;
    font-weight: bold;
    margin-top: 0.5rem;
}
.lad {
    @extend button;
    background-color: black;
    color: white;
    margin-left: 5px;
    font-weight: normal;
}
.more 
 {
   color: black;
   font: {
       size: 10px;
       family: arial;
   }
   display: inline-block;
   @include position;
   margin-left: 7.5px;
   span {
       color:rgb(252, 209, 16);
   }
}
.more + img {
    width: 20rem;
    margin-left: 27rem;
    margin-top: -10rem;
    
}
.lower img {
    width: 25rem;
    margin-left: 10rem;
    margin-right: 15rem;
}
h3 {
    
    text: {
        transform: uppercase;
    }
    font: {
        size: 10px;
        family: Arial;
        weight: bold;
    }
    @include float;
}
h3 + h1 {
    width: 20rem;
    color: black;
    font: {
        weight: bold;
        family: arial;
    }
    border-left: 2px solid rgb(252, 209, 16);
    display: inline-block; 
    margin-left: -10rem;  
    padding-left: 10px; 
    margin-bottom: 5rem;
}
.lower {

 p {
    float: right;
    width: 25rem;
    margin-right: 5rem;
    margin-top: -4.5rem;
}
 button {
     position: relative;
     left: 62%;
     background-color: rgb(252, 209, 16);
     margin-top: -5rem;
 }
 .lad {
     background-color: white;
     border: groove;
     color: black;
     padding: 2px 5px 2px 5px;
 }
}